<!-- section Sponsors strat -->
<section id="section-sponsors">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-6 partner-img-block">
                
            </div>

            <div class="col-md-6">
                <div class="section-heading text-center wow fadeInUp">
                    <h2>Substantive Partners</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor"> <a href="http://www.ii.pw.edu.pl" target="_blank"><img src="assets/img/client/ii_logo.png" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                    <div class="col-md-6 col-sm-12 wow fadeInUp" data-wow-delay=".4s">
                        <div class="sponsor"> <a href="http://findwise.com" target="_blank"><img src="assets/img/client/findwise.png" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                </div>
                <div class="section-heading text-center wow fadeInUp">
                    <h2>Media Partners</h2>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor"> <a href="http://stacja.it" target="_blank"><img src="assets/img/client/stacja.png" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor"> <a href="https://fintek.pl" target="_blank"><img src="assets/img/client/fintek.jpg" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor"> <a href="http://di.com.pl/" target="_blank"><img src="assets/img/client/di.gif" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor"> <a href="https://itwiz.pl/" target="_blank"><img src="assets/img/client/itwiz.jpg" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor"> <a href="https://mamstartup.pl" target="_blank"><img src="assets/img/client/mamstartup.jpg" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor"> <a href="https://programistamag.pl" target="_blank"><img src="assets/img/client/programista.png" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor"> <a href="https://4programmers.net" target="_blank"><img src="assets/img/client/4programmers.png" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor"> <a href="https://www.meetup.com/warsaw-hug" target="_blank"><img src="assets/img/client/whug.jpg" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="sponsor"> <a href="https://bulldogjob.pl" target="_blank"><img src="assets/img/client/bulldogjob.png" alt="" class="img-responsive center-block"></a> </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- section sponsors end -->