<section id="section-schedule" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2>Agenda</h2>
                    <p>The schedule of AI &amp; NLP Workshop Day is tentative and may change in the coming weeks.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tab-content">
                <div class="tab-pane fade in active">
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 20px 10px;">
                                        <h4>08:00 - 08:45</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Registration and coffee</h3>
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 20px 10px;">
                                        
                                        <h4>08:45 - 09:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Opening and Welcome Speech</h3>
                                        
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 70px 10px;">
                                        
                                        <h4>09:00 - 09:45</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Artificial Intelligence - propaganda, marketing and alchemy</h3>
                                        <h4>Piotr Gawrysiak</h4>
                                        <h5>Associate Professor at Warsaw University of Technology / Chief Data Scientist at mBank / Co-founder of Polidea</h5>

                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team2.jpg" alt="" class="img-responsive"> </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
<div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 70px 10px;">
                                        
                                        <h4>09:45 - 10:30</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Leveraging AI to create maps</h3>
                                        <h4>Krzysztof Miksa</h4>
                                        <h5>Director of Engineering within the Autonomous Driving Production Unit at TomTom</h5>

                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team16.jpg" alt="" class="img-responsive"> </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-tabs " id="schedule-tab">
                <li class="active col-md-3 col-sm-3 col-xs-12">
                    <a href="#tab-a" data-toggle="tab">
                        <h3>Track 1 <br>(ML/AI)</h3> </a>
                </li>
                <li class="col-md-3 col-sm-3 col-xs-12">
                    <a href="#tab-b" data-toggle="tab">
                        <h3>Track 2 <br>(Big Data)</h3> </a>
                </li>
                <li class="col-md-3 col-sm-3 col-xs-12">
                    <a href="#tab-c" data-toggle="tab">
                        <h3>Track 3 <br>(NLP)</h3> </a>
                </li>
                <li class="col-md-3 col-sm-3 col-xs-12">
                    <a href="#tab-d" data-toggle="tab">
                        <h3>Track 4 <br>(PolEval 2018)</h3> </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab-a">
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>ML/AI Workshop</h3>
                                        <h4>10:45 - 12:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Introduction to Object Detection</h3>
                                        <h4>Wiktor Rutka</h4>
                                        <h5>Senior Software Specialist at intive</h5>
                                        <p>From hello world to object detection. We are going to go through the simplest Python program that utilizes Tensorflow library, test some models available publicly and finish with working solution for object detection. We are going to see how dataset affects accuracy and how we can improve it. You are going to see some web resources than might be used in this issue and in similar problems. It will be an exciting journey.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team9.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 80px 10px;">
                                        <h3>ML/AI Workshop</h3>
                                        <h4>12:30 - 14:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Introduction to Deep Learning</h3>
                                        <h4>Barbara Rychalska</h4>
                                        <h5>Data Science Section Lead at Findwise</h5>
                                        <p>The workshop will provide basic information about deep learning: the mechanics behind neural networks, the training procedure (concepts such as backpropagation, RMSProp, Adam, and others), various kinds of neural networks (convolutional, recurrent, autoencoders, GANs, etc.) as well as some tips and tricks for obtaining better performance. We will write code using PyTorch to show these concepts in practice. I will introduce basic features of creating neural networks in PyTorch, using general examples and introducing applications for natural language processing.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team10.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="b-time">
                                        <h4>Lunch Break</h4> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>ML/AI Workshop</h3>
                                        <h4>14:45 - 16:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Introduction to Action Recognition in Videos</h3>
                                        <h4>Michał Koperski</h4>
                                        <h5>Computer Vision a Research Scientist at Tooploox</h5>
                                        <p>
In the workshop we will present state-of-the-art techniques for action recognition in videos. We will cover topics such as: video features extraction, features encoding and classification. In practical session participants will prepare and train action recognition model based on Fisher Vector encoding and SVM.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team8.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 140px 10px;">
                                        <h3>ML/AI Workshop</h3>
                                        <h4>16:30 - 18:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-8">
                                    <div class="desc-inner">
                                        <h3>Playing with training and testing sets: active learning, interpretability and black-box machine learning debugging</h3>
                                        <h4>Anna Wróblewska</h4>
                                        <h5>Senior Data Scientist at Applica / Assistant Professor at Warsaw University of Technology</h5>
                                        <h4>Filip Graliński</h4>
                                        <h5>Senior Deep Learning Engineer at Applica / Teaching Assistant at Adam Mickiewicz University</h5>
                                        <p>When tackling a machine learning modelling challenge, no matter its specifics, a number of questions could be raised in relation to train and test sets, especially when combined with evaluation results. How to select useful datasets for annotation, as small as possible and as good and efficient as possible as well? How to look into machine learning models and cope with text data? How to show what is the most important for a model? How to debug a machine learning model and find its specific weak points? How to compare two models and understand the difference? We will tell about these challenges and other that we can meet doing data science for big datasets, especially text datasets.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team12.jpg" alt="" class="img-responsive"> </div>
                                    <div class="speaker-img" style="margin-top: 30px;"> <img src="assets/img/speaker/team6.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- time desc end       -->
                </div>
                <div class="tab-pane fade in" id="tab-b">
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>Big Data Workshop</h3>
                                        <h4>10:45 - 12:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Big Data in the Cloud</h3>
                                        <h4>Radosław Szmit</h4>
                                        <h5>Big Data Developer / Trainer at Sages</h5>
                                        <p>Cloud technology can create numerous benefits for any given company; faster, cheaper, more flexible and easier to keep up to date. These characteristics are essential for companies when data volumes are growing exponentially. In this course, you will learn about cloud-based Big Data solutions such as Amazon S3, Amazon EMR, Azure Data Lake, Azure HDInsight and the rest of the Big Data platforms.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team1.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>Big Data Workshop</h3>
                                        <h4>12:30 - 14:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Real Time Twitter Analysis</h3>
                                        <h4>Radosław Szmit</h4>
                                        <h5>Big Data Developer / Trainer at Sages</h5>
                                        <p>Real time big data analytics is referred to the process of analyzing large volume of data at the moment it is created. It is mostly used in organizations that routinely produce massive amount of data in a very short time. In this workshop, we will learn how to process tweets in real time with tools like Apache Kafka and Apache Spark Streaming.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team1.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="b-time">
                                        <h4>Lunch Break</h4> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>Big Data Workshop</h3>
                                        <h4>14:45 - 16:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Serverless Approach to Working with Data</h3>
                                        <h4>Jakub Nowacki</h4>
                                        <h5>Lead Machine Learning Engineer at Sotrender / Data Scientist at SigDelta</h5>
                                        <p>Serverless ideas, in particular Function as a Service (FaaS), are gaining popularity. A lot has been said about serverless in context of web applications, but not so much when it comes to data engineering and analytics. During the workshop you will learn how to use the serverless approach for data-driven applications for data collection, storage and analytics. The workshop will be based on AWS services but the knowledge is transferable to other systems.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team4.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 80px 10px;">
                                        <h3>Big Data Workshop</h3>
                                        <h4>16:30 - 18:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Traditional SQL as Big Data query language</h3>
                                        <h4>Hubert Kobierzewski</h4>
                                        <h5>BI Practice Lead at Codec / College Lecturer at Kozminski University</h5>
                                        <p> BigData solutions cross our sight in more or less intense way during past couple of years. Various implementations of this technology generate another set of technical skills required when you invest in this field and they may become real road blocks in your projects. When companies work on large analytical solutions Microsoft says: “Stick with T-SQL only when you query Big Data”. You’ll see how efficient can SQL Server be when you retrieve information from less structured files and Hadoop. Plus, how can you mix it with relational databases. SQL Server married with Big Data – live in action!</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team11.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                </div>
                <div class="tab-pane fade in" id="tab-c">
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>NLP Workshop</h3>
                                        <h4>10:45 - 12:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Natural Language Processing in Theory and Practice</h3>
                                        <h4>Katarzyna Pakulska</h4>
                                        <h5>Data Science Technology Leader at Findwise</h5>
                                        <p>Workshop will provide basic information from Natural Language Processing (NLP). I will start by explaining what it is and why it is so difficult. Next I will introduce users to basic concepts related to NLP such as tokenization, stemming, POS tagging or sentiment analysis. Together with the participant we go through the Machine Learning methods used in NLP. We end with using Python NLP tools in iPython/Jupyter and some code examples using libraries like NLTK or SpaCy.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team5.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time"  style="padding: 140px 10px;">
                                        <h3>NLP Workshop</h3>
                                        <h4>12:30 - 14:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Textual Information Retrieval</h3>
                                        <h4>Marek Kozłowski</h4>
                                        <h5>Head of Natural Language Processing Laboratory at National Information Processing Institute / Assistant Professor at Warsaw University of Technology</h5>
                                        <h4>Maciej Kowalski</h4>
                                        <h5>Programmer & Technical Leader at National Information Processing Institute</h5>
                                        <p>Textual Information Retrieval is the activity of obtaining documents/texts relevant to an information need from a collection of documents. Searches can be based on full-text or other content-based indexing as specified keywords. Information retrieval is the science of searching for information in a document, searching for documents themselves, and also searching for metadata that describe data. During the workshop we present elastic as a most popular full-text search engine based on Lucene (it provides a distributed, multitenant-capable full-text search engine with an HTTP web interface), and the set of different supervised and unsupervised methods  towards keyphrase extraction as the way of documents indexing in a sparse way.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team15.jpg" alt="" class="img-responsive"> </div>
                                    <div class="speaker-img"  style="margin-top: 30px;"> <img src="assets/img/speaker/team7.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="b-time">
                                        <h4>Lunch Break</h4> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>NLP Workshop</h3>
                                        <h4>14:45 - 16:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Fake news detection</h3>
                                        <h4>Norbert Ryciak</h4>
                                        <h5>Ph.D. student in the field of Mathematics at Warsaw University of Technology</h5>
                                        <p>Fake news is one of the most serious problems in news industry today - false content is used to manipulate public opinion, slander people or just to make money. This is the reason why there is a need to apply automatic methods of detecting such cases. During the workshop we will go through basic as well as more sophisticated machine learning approaches for fake news detection implemented in Python.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team3.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- time desc end       -->
                                        <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time">
                                        <h3>NLP Workshop</h3>
                                        <h4>16:30 - 18:00</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Sentiment Analysis</h3>
                                        <h4>Aleksander Wawer</h4>
                                        <h5>Principal Engineer at Samsung / Assistant Professor at Institute of Computer Science Polish Academy of Sciences</h5>
                                        <p>The workshop will cover modern sentiment analysis methods with the focus on Polish language. It will discuss available resources and tools, from simple dictionaries to fine-grained, deep learning methods. Tutorial will end with a review of the most recent and interesting advances reported for other languages.</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="speaker-img"> <img src="assets/img/speaker/team13.jpg" alt="" class="img-responsive"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                </div>
                <div class="tab-pane fade in" id="tab-d">
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px; background: #34a1ef1a;">
                                        
                                        <h4>10:45 - 11:05</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>PolEval 2018 - the past, the present and the future</h3>
                                        <h4>Maciej Ogrodniczuk</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px; background: #34a1ef1a;">
                                        
                                        <h4>11:05 - 11:25</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>PolEval Task 1 Results</h3>
                                        <h4>Alina Wróblewska</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px; background: #34a1ef1a;">
                                        
                                        <h4>11:25 - 11:45</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>COMBO </h3>
                                        <h4>Piotr Rybak</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px; background: #34a1ef1a;">
                                        
                                        <h4>11:45 - 12:05</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>IMS</h3>
                                        <h4>Agnieszka Faleńska</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 20px 10px; background: #34a1ef1a;">
                                        
                                        <h4>12:05 - 12:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3> Award for the Task 1 Winners</h3>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px;">
                                        
                                        <h4>12:30 - 12:50</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>PolEval Task 2 Results</h3>
                                        <h4>Aleksander Wawer</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px;">
                                        
                                        <h4>12:50 - 13:10</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>SimpleNer</h3>
                                        <h4>Paulina Żak</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px;">
                                        
                                        <h4>13:10 - 12:30</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>KNER</h3>
                                        <h4>Krzysztof Wróbel, Aleksander Smywiński-Pohl</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px;">
                                        
                                        <h4>13:30 - 13:50</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Poleval2k18</h3>
                                        <h4>Adam Kaczmarek</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="b-time">
                                        <h4>Lunch Break</h4> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px;">
                                        
                                        <h4>14:45 - 15:05</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>VIA_NER</h3>
                                        <h4>Wojciech Janowski, Mateusz Piotrowski, Piotr Pęzik</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px;">
                                        
                                        <h4>15:05 - 15:25</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>system1</h3>
                                        <h4>Michał Lew</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- time desc end       -->
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px;">
                                        
                                        <h4>15:25 - 15:45</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>PolDeepNer and Liner2 </h3>
                                        <h4>Michał Marcińczuk, Jan Kocoń, Michał Gawor</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px;">
                                        
                                        <h4>15:45 - 16:05</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Per-Group LSTM</h3>
                                        <h4>(Łukasz Borchmann, Andrzej Gretkowski, Filip Graliński</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 20px 10px;">
                                        
                                        <h4>16:05 - 16:15</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>Award for the Task 2 Winner</h3>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px;  background: #34a1ef1a;">
                                        
                                        <h4>16:30 - 16:50</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>PolEval Task 3 Results</h3>
                                        <h4>Grzegorz Wojdyga</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 30px 10px;  background: #34a1ef1a;">
                                        
                                        <h4>16:50 - 17:10</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3>ULMFiT-SP-PL </h3>
                                        <h4>Piotr Czapla, Marcin Kardas</h4>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="time-desc">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 col-sm-3">
                                    <div class="s-time" style="padding: 20px 10px;  background: #34a1ef1a;">
                                        
                                        <h4>17:10 - 17:20</h4> </div>
                                </div>
                                <div class="col-md-8 col-xs-12 col-sm-6">
                                    <div class="desc-inner">
                                        <h3> Award for the Task 3 Winner</h3>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- row end  -->
    </div><!-- container end  -->
</section>
