	<!--  section SPEAKERS start  -->
	<section id="section-speaker" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-heading">
                        <h2>Speakers</h2>
                        <p>We have a great lineup of speakers from science and business. Here we introduce you to some of them.</p>
                    </div>
                    <div class="col-md-12" style="
    margin-top: 142px;
    padding-left: 0;
    padding-right:  0;
">
                    <div class="row">
                        <div class="carousel slide" id="speaker-carousel">
                            <div class="carousel-inner">
                                    <div class="item active">
                                        <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/ppilarski.jpg" alt="" class="img-responsive">
                                                </div>

                                                <div class="speaker-info">
                                                    <h4>Patryk Pilarski</h4>
                                                    <p>Data Scientist / trainer at Sages / Ph.D. student at PJATK & SWPS</p>
                                                    <ul class="list-inline speaker-social"> 
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/rstankiewicz.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Radosław Stankiewicz</h4>
                                                    <ul class="list-inline speaker-social">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/kmrzyglod.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Kamil Mrzygłód</h4>
                                                    <ul class="list-inline speaker-social">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                  
                                        
                                    <!--item end-->

                            </div>
                        </div>
                    </div><!-- row end  -->
                </div>
            </div>
			<div class="row">
                        <div class="carousel slide" id="speaker-carousel">
                            <div class="carousel-inner">
                                    <div class="item active">
                                        <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/pcyrta.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Paweł Cyrta</h4>
                                                    <ul class="list-inline speaker-social">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/jnowacki.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Jakub Nowacki</h4>
                                                    <ul class="list-inline speaker-social">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team12.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Anna Wróblewska</h4>
                                                    <ul class="list-inline speaker-social">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/pcierniakowski.JPG" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Paweł Ekk-Cierniakowski</h4>
                                                    <p>Advanced Analytics Expert at Polpharma / Trainer at Sages / PhD Candidate at Warsaw School of Economics</p>
                                                    <ul class="list-inline speaker-social">
                                                    </ul>
                                                </div>
                                            </div>
					</div>
                                    <!--item end-->

                            
                        </div>
                    </div><!-- row end  -->
                </div>
            </div>
        </div><!-- container end  -->
    </section>
    <!--  section SPEAKERS end  -->
