	<!--  section SPEAKERS start  -->
	<section id="section-speaker" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-heading">
                        <h2>Speakers</h2>
                        <p>We have a great lineup of speakers from science and business. Here we introduce you to some of them.</p>
                    </div>
                    <div class="col-md-12" style="
    margin-top: 142px;
    padding-left: 0;
    padding-right:  0;
">
                    <div class="row">
                        <div class="carousel slide" id="speaker-carousel">
                            <div class="carousel-inner">
                                    <div class="item active">
                                        <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team5.jpg" alt="" class="img-responsive">
                                                </div>

                                                <div class="speaker-info">
                                                    <h4>Katarzyna Pakulska</h4>
                                                    <p>Data Science Technology Leader at Findwise</p>
                                                    <ul class="list-inline speaker-social">
                                                        <li><a href="https://pl.linkedin.com/in/katarzynapakulska"><i class="fa fa-linkedin"></i></a></li>
                                                    
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team8.jpg" alt="" class="img-responsive">
                                                </div>

                                                <div class="speaker-info">
                                                    <h4>Michał Koperski</h4>
                                                    <p>Computer Vision a Research Scientist at Tooploox</p>
                                                    <ul class="list-inline speaker-social">
                                                        <li><a href="http://mkoperski.com/"><i class="fa fa-book"></i></a></li>
                                                        <li><a href="https://pl.linkedin.com/in/mkoperski"><i class="fa fa-linkedin"></i></a></li>
                                                    
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="
">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team7.jpg" alt="" class="img-responsive">
                                                </div>

                                                <div class="speaker-info">
                                                    <h4>Marek Kozłowski</h4>
                                                    <p>Head of Natural Language Processing Laboratory at National Information Processing Institute / Assistant Professor at Warsaw University of Technology</p>
                                                    <ul class="list-inline speaker-social">
                                                        <li><a href="https://pl.linkedin.com/in/marek-kozłowski-97a20945/"><i class="fa fa-linkedin"></i></a></li>
                                                    
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team6.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Filip Graliński</h4>
                                                    <p>Senior Deep Learning Engineer at Applica / Teaching Assistant at Adam Mickiewicz University</p>
                                                    <ul class="list-inline speaker-social">
                                                       <li><a href="https://gonito.net/gitlist/geval.git/"><i class="fa fa-git"></i></a></li>
                                                        <li><a href="https://www.linkedin.com/in/filip-graliński-9a6a1245/"><i class="fa fa-linkedin"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team11.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Hubert Kobierzewski</h4>
                                                    <p>BI Practice Lead at Codec / College Lecturer at Kozminski University</p>
                                                    <ul class="list-inline speaker-social">
                                                       <li><a href="https://twitter.com/datahubert"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="https://www.linkedin.com/in/kobierzewski"><i class="fa fa-linkedin"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team12.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Anna Wróblewska</h4>
                                                    <p>Senior Data Scientist at Applica / Assistant Professor at Warsaw University of Technology</p>
                                                    <ul class="list-inline speaker-social">
                                                        <li><a href="https://www.linkedin.com/in/awroblewska"><i class="fa fa-linkedin"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team16.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Krzysztof Miksa</h4>
                                                    <p> Director of Engineering within the Autonomous Driving Production Unit at TomTom</p>
                                                    <ul class="list-inline speaker-social">
                                                        <li><a href="https://www.linkedin.com/in/krzysztofmiksa"><i class="fa fa-linkedin"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!--item end-->
                            </div>
                        </div>
                    </div><!-- row end  -->
                </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="carousel slide" id="speaker-carousel" >
                            <div class="carousel-inner">
                                    <div class="item active">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team1.jpg" alt="" class="img-responsive">
                                                </div>

                                                <div class="speaker-info">
                                                    <h4>Radosław Szmit</h4>
                                                    <p>Big Data Developer / Trainer at Sages</p>
                                                    <ul class="list-inline speaker-social">
                                                        <li><a href="http://bigdatapassion.pl"><i class="fa fa-book"></i></a></li>
                                                        <li><a href="https://pl.linkedin.com/in/rszmit"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="https://twitter.com/RadoslawSzmit"><i class="fa fa-twitter"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team2.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Piotr Gawrysiak</h4>
                                                    <p>Associate Professor at Warsaw University of Technology / Chief Data Scientist at mBank / Co-founder of Polidea</p>
                                                    <ul class="list-inline speaker-social">
                                                        <li><a href="https://www.linkedin.com/in/pgawrysiak/"><i class="fa fa-linkedin"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team3.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Norbert Ryciak</h4>
                                                    <p>Ph.D. student in the field of Mathematics at Warsaw University of Technology</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team4.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Jakub Nowacki</h4>
                                                    <p>Lead Machine Learning Engineer at Sotrender / Data Scientist at SigDelta</p>
                                                    <ul class="list-inline speaker-social">
                                                        <li><a href="https://www.linkedin.com/in/jakubnowacki/"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="https://twitter.com/jsnowacki"><i class="fa fa-twitter"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team9.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Wiktor Rutka</h4>
                                                    <p>Senior Software Specialist at intive</p>
                                                    <ul class="list-inline speaker-social">
                                                        <li><a href="https://www.linkedin.com/in/wrutek/"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="https://twitter.com/wrutek"><i class="fa fa-twitter"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team13.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Aleksander Wawer</h4>
                                                    <p>Principal Engineer at Samsung / Assistant Professor at Institute of Computer Science Polish Academy of Sciences</p>
                                                    <ul class="list-inline speaker-social">
                                                        <li><a href="https://www.linkedin.com/in/aleksander-wawer-6307b098//"><i class="fa fa-linkedin"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team10.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Barbara Rychalska</h4>
                                                    <p>Data Science Section Lead at Findwise</p>
                                                    <ul class="list-inline speaker-social">
                                                        <li><a href="https://www.linkedin.com/in/barbara-rychalska-97825634/"><i class="fa fa-linkedin"></i></a></li>
                                                        </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
			    	<div class="col-md-6 col-sm-6">
                                            <div class="speaker-box"> 
                                                <div class="img-block">
                                                    <img src="assets/img/speaker/team15.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="speaker-info">
                                                    <h4>Maciej Kowalski</h4>
                                                    <p>Programmer & Technical Leader at National Information Processing Institute</p>
                                                    <ul class="list-inline speaker-social">
                                                        <li><a href="https://www.linkedin.com/in/maciej-kowalski-9868268a/"><i class="fa fa-linkedin"></i></a></li>
                                                        </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--item end-->
                            </div>
                        </div>
                    </div><!-- row end  -->
                </div>
            </div>
        </div><!-- container end  -->
    </section>
    <!--  section SPEAKERS end  -->
